{% extends "main.html" %}
{% load thumbnail %}

{% block title %}Главная страница{% endblock %}

{% block main %}

    {% include 'main/modules/banner.html' %}
    {#    {% include 'modules/appointment.html' %}#}
    {% include 'main/modules/callback.html' %}
    {#    {% include 'modules/aboutus.html' %}#}
    {#    {% include 'modules/mainfeatures.html' %}#}
    {#    {% include 'modules/services.html' %}#}
    {#    {% include 'modules/counter.html' %}#}
    {#    {% include 'modules/counter2.html' %}#}
    {#    {% include 'modules/calltoaction.html' %}#}
    {#    {% include 'modules/team.html' %}#}
    {#    {% include 'modules/clients.html' %}#}
    {#    {% include 'modules/news.html' %}#}
    {#    {% include 'modules/whychose.html' %}#}
    {% include 'main/modules/calltoaction2.html' %}

{% endblock %}
