{% load staticfiles %}

<!-- Our Mission Start -->
<section id="our-mission" class="p_t_b">
    <div class="container">

        <div class="row">
            <div class="col-md-12 heading_center heading text-center">
                <h2>Our <span>Mission</span></h2>
                <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-5 col-sm-5 col-xs-12">
                <div class="our-mission-box-img">
                    <img src="{% static "images/about-page.jpg" %}" alt="img">
                </div>
            </div>

            <div class="col-md-7 col-sm-7 col-xs-12">
                <div class="our-mission-box-detail">
                    <h3>About Us Auto Zoon</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                        <li>Ut enim ad minim veniam, quis nostrud exercitation</li>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit,</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Our Mission End -->
