<!-- Our Value Start -->
<section id="services-page" class="p_t_b our-value">
    <div class="container">

        <div class="row">
            <div class="col-md-12 heading_center heading text-center">
                <h2>Our <span>Values</span></h2>
                <div class="center_title"><span><i class="fa fa-wrench"></i></span></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>

        <div class="row">

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="services-page-box">
                    <i class="fa fa-eye" aria-hidden="true"></i>
                    <h2>FOCUS</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="services-page-box">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                    <h2>PASSION</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12 text-center">
                <div class="services-page-box">
                    <i class="fa fa-users" aria-hidden="true"></i>
                    <h2>TEAMWORK</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                </div>
            </div>

        </div>

    </div>
</section>
<!-- Our Value End -->